@charset "utf-8";
body {
  background-color: #efefef;
}
.mypanel div.self-panel {
  border: 1px solid lightgrey;
  border-radius: 4px;
}
.mypanel div.self-panel div.self-heading {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
}
.mypanel div.self-panel div.self-heading h4 {
  padding: 8px 10px;
  background-color: #084C9F;
  color: white;
  margin: 0;
  border-radius: 4px 0 0 0;
}
.mypanel div.self-panel div.self-heading h4::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-top-color: #084C9F;
  transform: rotate(45deg);
  margin-left: -15px;
  margin-top: 2px;
}
.mypanel div.self-panel div.self-heading a,
.mypanel div.self-panel div.self-heading a:visited {
  margin: 8px 15px 0 0;
  text-decoration: none;
}
.mypanel div.self-panel div.self-body {
  padding: 12px 10px 10px 12px;
  background-color: white;
  border-radius: 0 0 4px 4px;
}
main {
  margin: 30px 0;
}
main ul {
  list-style: none;
  padding-left: 0;
}
main div.self-panel {
  border: 1px solid lightgrey;
  border-radius: 4px;
}
main div.self-panel div.self-heading {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
}
main div.self-panel div.self-heading h4 {
  padding: 8px 10px;
  background-color: #084C9F;
  color: white;
  margin: 0;
  border-radius: 4px 0 0 0;
}
main div.self-panel div.self-heading h4::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-top-color: #084C9F;
  transform: rotate(45deg);
  margin-left: -15px;
  margin-top: 2px;
}
main div.self-panel div.self-heading a,
main div.self-panel div.self-heading a:visited {
  margin: 8px 15px 0 0;
  text-decoration: none;
}
main div.self-panel div.self-body {
  padding: 12px 10px 10px 12px;
  background-color: white;
  border-radius: 0 0 4px 4px;
}
main .ul-one {
  line-height: 2;
}
main .ul-one li {
  border-bottom: 1px dashed gainsboro;
  margin-bottom: 13px;
}
main .ul-one li a {
  display: flex;
  justify-content: space-between;
}
main .ul-one li a span.all-title{
  width: 350px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
main .ul-one li a span.all-time {
  font-size: 13px;
  color: #bbb;
}
main .ul-one li:last-child {
  border-bottom: none;
}
main div.self-slider div #slidershow {
  border: 1px solid gainsboro;
  border-radius: 4px;
}
main div.self-slider ol {
  width: 90%!important;
}
main div.self-slider ol li {
  border-radius: 0!important;
  background-color: #f98305;
  margin: 0 3px;
}
main div.self-slider ol li.active {
  background-color: #004098;
}
main ul.self-ul-two li a,
main ul.self-ul-two li a:visited {
  display: flex;
  padding-bottom: 4px;
  border-radius: 3px;
  margin-bottom: 9px;
}
main ul.self-ul-two li a span.m-icon,
main ul.self-ul-two li a:visited span.m-icon {
  flex: 1;
}
main ul.self-ul-two li a span.m-icon img,
main ul.self-ul-two li a:visited span.m-icon img {
  width: 100%;
  border: 1px solid #084C9F;
  border-radius: 3px;
}
main ul.self-ul-two li a span.t-title,
main ul.self-ul-two li a:visited span.t-title {
  flex: 4;
  margin-left: 10px;
}
main ul.self-ul-three li a,
main ul.self-ul-three li a:visited {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
main ul.self-ul-three li a div.notice-time,
main ul.self-ul-three li a:visited div.notice-time {
  flex: 1;
  text-align: center;
  border: 1px dashed #084C9F;
  border-radius: 4px;
  margin-right: 5px;
}
main ul.self-ul-three li a div.notice-time p.day,
main ul.self-ul-three li a:visited div.notice-time p.day {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
}
main ul.self-ul-three li a div.notice-box,
main ul.self-ul-three li a:visited div.notice-box {
  flex: 5;
}
main ul.self-ul-three li a div.notice-box div.notice-title,
main ul.self-ul-three li a:visited div.notice-box div.notice-title {
  font-weight: bold;
  font-size: 15px;
}
main ul.self-ul-three li a div.notice-box div.notice-adb,
main ul.self-ul-three li a:visited div.notice-box div.notice-adb {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
main ul.self-ul-three li a:hover,
main ul.self-ul-three li a:visited:hover {
  text-decoration: none;
  color: red;
}
main ul.self-ul-three li a:hover div.notice-time,
main ul.self-ul-three li a:visited:hover div.notice-time {
  border-color: red;
}
main ul.self-ul-four {
  padding-left: 0;
}
main ul.self-ul-four li {
  border-bottom: 1px dashed gainsboro;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
main ul.self-ul-four li a {
  display: flex;
}
main ul.self-ul-four li a span.all-title {
  flex: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main ul.self-ul-four li a span.all-time {
  flex: 1;
  margin-left: 10px;
}
main ul.self-ul-five {
  line-height: 1.8;
}
main ul.self-ul-five li span.w-two {
  letter-spacing: 14px;
}
main ul.self-ul-five li.w-img {
  display: flex;
}
main ul.self-ul-five li.w-img div {
  flex: 1;
  text-align: center;
}
main ul.self-ul-five li.w-img div img {
  width: 100%;
}
main ul.self-ul-five li.w-img div:first-child {
  margin-right: 5px;
}
main div.self-wl {
  display: flex;
  text-align: center;
}
main div.self-wl a {
  flex: 1;
}
main div.self-wl a:not(:last-child) {
  margin-right: 15px;
}
main div.self-wl a:hover {
  box-shadow: 1px 1px 5px #0098ed;
  border-radius: 5px;
}
main div.self-wl a:hover img {
  border-radius: 5px 5px 0 0;
}
main div.self-wl a img {
  width: 100%;
}
main div.self-wl a p {
  margin-top: 10px;
}
main div.self-link {
  display: flex;
}
main div.self-link a,
main div.self-link a:visited {
  flex: 1;
}
main div.self-link a:not(:last-child),
main div.self-link a:visited:not(:last-child) {
  margin-right: 15px;
}
main div.self-link a:hover,
main div.self-link a:visited:hover {
  box-shadow: 1px 1px 5px #0098ed;
  border-radius: 5px;
}
main div.self-link a:hover img,
main div.self-link a:visited:hover img {
  border-radius: 5px 5px 0 0;
}
main div.self-link a img,
main div.self-link a:visited img {
  width: 100%;
  border: 1px solid gainsboro;
  height: 60px;
  border-radius: 5px;
}
